body{
    display: flex;
    flex-direction: column;
    
    background-color: lightslategray;
    font-family:'Solway', Verdana, Geneva, Tahoma, sans-serif;
    width: 95%;
    margin: auto;
}

header{
    border-bottom-width: 0px;
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
    margin-bottom: 0px ;
    padding-bottom: 0px;
}

aside{
    flex: 1;
    overflow-y: auto;

    background-color: lightslategray;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

article{
    flex: 2;
    overflow-y: auto;
    
  
    font-size: 18px;
    font-weight: normal;
    line-height: normal;

    margin: 0px;
    border: 0px;
    padding-bottom: 20px;
    padding-top: 10px;

    background-color: lightslategray;
    color: #fff;   
}

footer{
    border: 2px white solid;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 20px;

    background-color: lightslategrey;
    text-align: center;
    color: white;
    vertical-align: center;

}

.ulHeader{
    font-family:'Solway', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 18px;
    font-style: oblique;
}

.ulHeader li{
    color: white;
    background-color: lightslategray;
    margin: 0px;
}

.ulHeader li:hover{
    background-color: silver;
    color: white;
}

h1, h2, h3{
    color: lightblue;
    text-align: center;
    font-family:'Solway', Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
}

body a{
    text-decoration: none;
    color: lightblue;
}

article a:hover{
    color: violet;
}

a:active{
    color: teal;
}

strong{
    text-decoration: underline;
    text-transform: uppercase;
}

.pFooter{
    margin: 0px;
}



.letstweet p{
    margin: 0px;
    padding: 0px;
}

.divThePlan{
    display:flex;
    justify-content: center;
    align-items: center;
}

.divThePlan p{
    margin: 0px;
    padding:0px;
}

.divThePlan img{
    width: 250px;
}



.thePlan h1{
    color: seagreen;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 60px;
}

.thePlan{
    font-size: 23px;
}

.thePlan{
    background-image: url('https://i.ytimg.com/vi/ZXsQAXx_ao0/maxresdefault.jpg');
    border: solid white 5px;
}

.littleShia{
    position: fixed;
    top: 120px;
}

.clickImg{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.fb-share-button{
    margin-top: 15px;
}

@media(min-width:801px){
    .flexGif{
        display: flex;
        flex-direction: row;
        margin: 30px 0px;

    } 
    .letstweet{
        display: flex;
        flex-direction: row;
        justify-content: center;


        color: white;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    header li {
        color: #fff;
        display: block;
        float: left;
        padding: 1rem;
        position: relative;
        text-decoration: none;
    transition-duration: 0.5s;
    }
}
@media(max-width:800px){
    .ulHeader li{
        display: block;
    }

    header{
        height: auto;
    }
}
    


.flexGif img{
    flex: 3;
    margin-left: 10px;}

.flexGif p,h2{
    flex: 2;
    margin: 0px;
}

.flexYou{
    display: flex;
    margin: 30px 0px;
    flex-wrap: wrap;
}

.flexYou div{
    flex: 2;
    order: 2;
    margin-left: 10px;
    padding-bottom: 50px;
    align-self: center;
}

.flexYou h2{
    margin-bottom: 30px;
}

.flexYou iframe{
    flex: 3;
    order: 1;
}

.articuleTweets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.tweetClass{
    width: 400px;
}

.nestedOrderList ol {
    counter-reset: item;
}
.nestedOrderList li {
    display: block
}
.nestedOrderList li:before {
    content: counters(item, ".") " ";
    counter-increment: item
}

.justify{
    text-align: justify;
}

.warning{
    border: 5px dashed red;
    padding: 20px;
    margin: 30px;
    background: lightcoral;
    text-align: center;
}

.warning p{
    padding: 0px;
    margin: 0px;
}

.warning a{
    color: red;
}

.warning a:hover{
    color: orangered;
}

.warning strong{
    color: red;
    text-transform: uppercase;
    text-decoration: underline;
}

.Shia{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  
  ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
  }
  

  header li a {
    color: #fff;
  }
  
  header li:hover,
  header  li:focus-within {
      cursor: pointer;
  }
  
  header li:focus-within a {
    outline: none;
  }
  
  header ul li ul {
      visibility: hidden;
    opacity: 0;
    min-width: 5rem;
      position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
      left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
      
     visibility: visible;
     opacity: 1;
     display: block;
  }
  
  ul li ul li {
      clear: both;
    width: 100%;
    z-index: 100;
  }

  .center{
     display: flex;
     justify-content: center;
  }

  .comparative{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  .comparative div{
      flex: 3;
  }

  .comparative p{
      flex: 1;
      text-align: center;
      font-size: 50px;
  }

  .comparativeT{
      margin: 30px;
  }

  .twoImg{
      display: flex;
      align-items: center;
      flex-direction: column;
  }

  .twoImg img{
      flex: 1;
      margin: 20px;
  }

.nestedli li{
    background-color: lightgrey;
}